#div-biometria{
    display: none;
}

.btn-biometria {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.btn-biometria:hover {
    background-color: #0056b3;
}
body{
    text-align: center;
    background-color: aquamarine;
}
#dados_pessoais{
    display: flex;
}
fieldset{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}