/** CSS SO PRA TESTAR */
body{
    background-color: rgb(64, 159, 236);
    text-align: center;
    font-size: x-large;
}

#container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    background-color: rgb(25, 0, 255);
    padding-top: 50px;
}
a{
    color: rgb(255, 255, 255);
    font-size: x-large;
}
button{
    font-size: x-large;
    margin-bottom: 20px;
}